# Node
node_modules/
npm-debug.log*
package-lock.json
.yarn.lock

# Angular
.angular/
dist/
out-tsc/

# IntelliJ
.idea/

# VSCode
.vscode/

# Android (capcitor)
angular-app/android/

# OS
.DS_Store
Thumbs.db
